body {
    background-color: rgb(204, 0, 0);
}

#container {
    margin: 0 auto;
    padding:10px 40px;
    max-width: 960px;
    overflow:hidden;
}

header {
    background-color: white;
    padding: 20px 40px;
    margin:1%;
    font-family: "Tahoma";
    box-shadow: 10px 10px 5px #201F1F;
    overflow:hidden;
}

hgroup {
    float:left;
}

#nav-top {
    float:right;
}

#menu-main {
    overflow:hidden;
    float:left;
    width:80%;
}
#nav-home {
    float:left;
    margin: 0 2%;
}
#page-wrapper {
    overflow:hidden;
}

#content {
    float:left;
    width:70%;
    margin:.25%;
}

aside {
    font-family:Tahoma;
    font-size:14px;
    float:left;
    margin:1%;
    padding: 1% 2%;
    background-color: white;
    width:20%;
    box-shadow: 10px 10px 5px #201F1F;
}

#comments {
    background-color:white;
    box-shadow: 10px 10px 5px #201F1F;
    float:right;
    width:60%;
    padding:1% 2%;
}
#id_honeypot {
    display: none;
}
#comment-form {
    background-color:white;
    box-shadow: 10px 10px 5px #201F1F;
    float:right;
    overflow:hidden;
    width:50%;
    padding:1% 2%;
}

#site-registration {
    font-family: "Tahoma";
    margin: 3%;
    padding: 4%;
    background-color: white;
    box-shadow: 10px 10px 5px #201F1F;
}

footer {
    overflow:hidden;
    width:80%;
}
#copyright {
    float:left;
    margin:5%;
}