body {
    background-color: #FF3333;
}

#container {
    margin: 0 auto;
    padding:10px 40px;
    max-width: 960px;
}

header {
    background-color: white;
    padding: 20px 40px;
    margin:1%;
    font-family: "Tahoma";
    box-shadow: 10px 10px 5px #201F1F;
}

#nav-home {
    float:left;
    margin: 0 2%;
}

#content {
    float:left;
    width:70%;
    margin:.25%;

}

aside {
    float:left;
    margin:1%;
    padding: 1% 2%;
    background-color: white;
    width:20%;
    box-shadow: 10px 10px 5px #201F1F;
}

#site-registration {
    font-family: "Tahoma";
    margin: 3%;
    padding: 1% 2%;
    background-color: white;
    box-shadow: 10px 10px 5px #201F1F;
}