{% load comments sidebar%}
{% include 'header.html' with title=title meta_keywords=blogroll.seo_keywords meta_description=blogroll.seo_description %} 
<div id="content">
{% if blogroll %}
    {% for blog_entry in blogroll %}
        <article>
            <div id="blog-title">{{ blog_entry.entry_title }}</div>
            <div id="blog-body">{{ blog_entry.entry }}</div>
        <div id = "author-date">
            <div id="author">{{ blog_entry.author }}</div>
            <div id="date-time">{{ blog_entry.entry_post_date }}</div>
            <div id="comment-count"><a href="/{% print_blog_entry_link blog_entry %}">Comments ({% get_comment_count for blog_entry as comment_count %}{{ comment_count }})</a></div>
        </div>
        </article>
    {% endfor %}
{% else %}
    <p>No Blog Entries</p>
{% endif %}
</div>
{% include 'footer.html' %}