{% load comments %}
{% include 'header.html' with title=entry.entry_title meta_keywords=entry.seo_keywords meta_description=entry.seo_description %} 
<div id="content">
    <article>
        <div id="blog-title">{{ entry.entry_title }}</div>
        <div id="blog-body">{{ entry.entry }}</div>
        <div id = "author-date">
            <div id="author">{{ entry.author }}</div>
            <div id="date-time">{{ entry.entry_post_date }}</div>
        </div>
    </article>
    {% render_comment_list for entry %}
</div>
{% include 'footer.html' %}