{% load sidebar %}<aside>
{% if latest_content_list %}
<h4>Recent Pages</h4>
    <ul>
    {% for content in latest_content_list %}
        <li><a href="/page/{{ content.url_slug }}/">{{ content.title }}</a></li>
    {% endfor %}
    </ul>
{%elif bloglist %}
<h4>Recent Blog Entries</h4>
    <ul>
    {% for blogs in bloglist %}
        <li><a href="/{% print_blog_entry_link blogs %}">{{ blogs.entry_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Recent Content</p>
{% endif %}
</aside>