article {
    font-family: "Tahoma";
    margin: 3%;
    padding: 4% 2%;
    background-color: white;
    box-shadow: 10px 10px 5px #201F1F;
}
#content-title {
    font-size:20px;
    font:bold;
    margin:1%;
}

#content-body {
    margin-left:2%;
}