<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8'>
        <title> {{ site_title }} | {{ title }}</title> 
    <meta name="Keywords" content="{{ meta_keywords }}"/>
    <meta name="Description" content="{{ meta_description }}"/>
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
</head>
<body>
<header>

</header>

<div class="content-title">{{ title }}</div>

<div class="content-body">{{ content }}</div>

<div class="author">{{ author }}</div>

<div class="date-time">{{ post_date_time }}</div>

<footer>
</footer>
</body>
</html>
